// * Hidden on mobile
.is-hidden-mobile {
  @include query(mobile-only) {
    display: none;
  }
}

// * Displayed on mobile only
.is-displayed-mobile {
  @include query(medium) {
    display: none;
  }
}

// * Displayed on mobile through click
.is-displayed-mobile--click {
  display: none;
}