*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: $base__font-size;
}

html {
  box-sizing: border-box;
}

body {
  line-height: $base__line-height;
  font-family: $font-family--primary;
  color: $color--primary;
  background-color: $color--tertiary;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: $font-family--secondary;
}

img {
  max-width: 100%;
}