.hero {
  @include border;
  @include main-img-overlay;
  max-width: 850px;

  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.left-panel {
  background-color: $color--tertiary;
}

.right-panel {
  background-color: $bg-color--primary;

  grid-row: 1 / 6;
  grid-column: 1 / 2;
}

.cta {
  grid-row: 4 / 6;
  grid-column: 1 / 2;
  padding: 1em;

  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0;
  }

  span {
    color: $color--secondary;
  }
}