.hero {
  @include border;
  @include main-img-overlay;
  max-width: 850px;

  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.left-panel {
  background-color: $color--tertiary;
}

.right-panel {
  background-color: $bg-color--primary;

  grid-row: 1 / 6;
  grid-column: 1 / 2;
}

.cta {
  grid-row: 4 / 6;
  grid-column: 1 / 2;
  border: 1px solid red;
}