.site-nav {
  display: flex;
  position: relative;

  ul {
    @include query(medium) {
      display: flex;
      text-transform: uppercase;
    }
  }

  li {
    align-self: center;
    font-size: 0.9em;

    a {
      padding: 0.2em;
      font-weight: $font-weight--light;

      &,
      &:visited {
        color: lighten($site-link-color--primary, 10%);
        transition: 0.2s all ease-in-out;
      }
  
      &.selected,
      &:hover,
      &:active,
      &:focus {
        color: $site-link-color--secondary;
      }
    }
  }

  li:not(:last-child) {
    margin-right: 1em;
    @include query(large) {
      margin-right: 4em;
    }
  }
}

.site-nav__overlay-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  min-width: 45%;
  z-index: 10;
  top: 0;
  right: 0;
  opacity: .90;
  @include query(mobile-only) {
    padding: 1em 4% 0;
  }
  @include query(medium) {
    padding: 1em 8% 0;
  }
  @include query(large) {
    padding: 1em 12% 0;
  }

  .site-nav__overlay {
    ul {
      padding-top: 2em;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    li:not(:first-child) {
      margin-top: 1em;
    }

    a {
      padding: 0.4em;

      &,
      &:visited {
        color: darken($site-link-color--secondary, 40%);
        transition: 0.2s all ease-in-out;
      }

      &.selected,
      &:hover,
      &:active,
      &:focus {
        color: $site-link-color--primary;
      }
    }
  }
}

.site-nav__menu-btn {
  background: none;
  border: none;
  align-self: flex-end;
  padding: 0.4em;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  div {
    background-color: darken($norway-green, 30%);
    height: 4px;
    width: 30px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  }

  div:nth-child(2) {
    margin: 5px 0;
  }

  &.close div:first-child {
    transform: rotate(45deg) translate(5px, 6px);
  }

  &.close div:nth-child(2) {
    transform: rotate(-45deg) translate(0, -2px);
  }

  &.close div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
    opacity: 0;
  }
}