.site-nav {
  display: flex;
  //test
  // flex-wrap: wrap;

  ul {
    @include query(medium) {
      display: flex;
    }
  }
}

.site-nav__menu-btn {
  background: none;
  border: none;
  align-self: center;
  padding: 0.4em;

  &:hover {
    cursor: pointer;
  }

  div {
    background-color: darken($norway-green, 30%);
    height: 4px;
    width: 30px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  }

  div:nth-child(2) {
    margin: 5px 0;
  }

  &.close div:first-child {
    transform: rotate(45deg) translate(5px, 6px);
  }

  &.close div:nth-child(2) {
    transform: rotate(-45deg) translate(0, -2px);
  }

  &.close div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
    opacity: 0;
  }
}

.site-nav__overlay {
  //test
  // min-width: 100vw;
  // flex-basis: 100vw;
  // border: 1px solid black;
}