.site-logo {
  margin-right: auto;
  @include border(4px, $bor-color--secondary);
  padding: 0 0.5em;
  display: flex;
  width: 7.25em;
  position: relative;
  align-self: flex-start;

  h2 {
    margin: 0;
  }

  div {
    position: absolute;
    right: 1.375em;
    top: 0.57em;
  }

  div > span {
    display: block;
    line-height: 0.8;
  }
  
  span {
    font-size: 0.75em;
  }

  span.dot {
    color: $norway-green;
  }
  
}