.site-logo {
  margin-right: auto;
  @include border(2px, $bor-color--secondary);
  padding: 0.4em;
  display: flex;

  h2 {
    margin: 0;
  }

  span {
    font-size: 0.775em;
  }

  span:nth-child(2) {
    // align-self: end;
  }
  
  span:nth-of-type(2) {
    // align-self: start;
  }

  span.dot {
    color: $norway-green;
  }
  
}