// * Descriptive Colors
$black: #212121;
$gray: #6B6B6B;
$white: #FDFDFD;
$norway-green: #AABFA4;
$light-gray: #E5E2E2;

// * Site Colors
$color--primary: $black;
$color--secondary: $gray;
$color--tertiary: $white;

// * BG Colors
$bg-color--primary: $norway-green;
$bg-color--secondary: $gray;
$bg-color--tertiary: $black;

// * Link Colors
$link-color: $black;
$link-color--hover: $norway-green;

// make btn extend

// get font-families

// get normalize

// fontweights

// base font size, line height

// mixin for ul/li reset