// * Fonts
$font-family--primary: 'Source Sans Pro', sans-serif;
$font-family--secondary: 'Lato', sans-serif;

// * Font Weights
$font-weight--light: 300;
$font-weight--reg: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;

// * Font Size
$base__font-size: 1rem;
$base__line-height: 1.5;

// * Descriptive Colors
$black: #212121;
$gray: #6B6B6B;
$white: #FDFDFD;
$norway-green: #AABFA4;
$light-gray: #E5E2E2;

// * Site Colors
$color--primary: $black;
$color--secondary: $gray;
$color--tertiary: $white;

// * BG Colors
$bg-color--primary: $norway-green;
$bg-color--secondary: $gray;
$bg-color--tertiary: $black;

// * Nav Link Colors
$nav-link-color: $black;
$nav-link-color--hover: $norway-green;

// * Site Link Colors
$site-link-color--primary: $black;
$site-link-color--secondary: $norway-green;
$site-link-color--hover: $white;

// * Breakpoints
$break-sm: 1px;
$break-md: 768px;
$break-lg: 1100px;