// * Picture frame
@mixin picture-frame {
  border: 15px solid $black;
}

// * Site Links

@mixin site-link(
  $color,
  $border: null,
  $c-hover: null,
  $b-hover: null) {
  border: 2px solid $border;
  color: $color;
  padding: 0.4em 0.6em;
  display: inline-block;
  font-size: 40px;

  &::after {
    // right arrow
    content: '\2192';
    color: inherit;
    margin-left: 0.5em;
    font-size: 3em;
  }

  &:hover {
    color: $c-hover;
    border: 2px solid $b-hover;
  }
}

// testing
a {
  @include site-link(
    $site-link-color--primary,
    $black,
    red,
    blue);
}