// * Picture frame
@mixin picture-frame($pixels: 15px) {
  border: $pixels solid $picture-frame--color;
}

// * Main Img Overlay
@mixin main-img-overlay {
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color--tertiary;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .overlay {
      opacity: 0.2;
    }
  }

  img {
    display: block;
  }
}

// * Site Links

@mixin site-link(
  $color,
  $border: null,
  $c-hover: null,
  $b-hover: null) {
  padding: 0.4em 0.6em;
  display: flex;
  align-items: center;

  &,
  &:visited {
    @if $border {
      border: 2px solid $border;
    }
    @if ($b-hover or $c-hover) {
      transition: all 0.2s ease-in-out;
    }
    color: $color;
  }

  &:hover,
  &:active {
    color: $c-hover;
    @if $b-hover {
      border: 2px solid $b-hover;
    }
    cursor: pointer;
  }

  &::after {
    // right arrow
    content: '\2192';
    color: inherit;
    margin-left: 0.5em;
    font-size: 3em;
  }
}

// * Media Queries
@mixin query($breakpt) {
  @if $breakpt == 'mobile-only' {
    @media (min-width: $break-sm) and (max-width: $break-md - 1) {
      @content;
    }
  } @else if $breakpt == 'medium' {
    @media (min-width: $break-md) {
      @content;
    }
  } @else if $breakpt == 'large' {
    @media (min-width: $break-lg) {
      @content;
    }
  } @else {
    @error '`#{$breakpt}` is not a valid breakpoint.';
  }
}